//https://coolors.co/ff6044-000000-717171-ffffff

$coral: #ff6044;
$black: #000000;
$grey: #717171;
$white: #ffffff;

.navbar {
  background-color: white;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  margin-bottom: 1rem;
}
